---
- name: OS group {{ minecraft_group }}
  ansible.builtin.group:
    name: "{{ minecraft_group }}"
    state: present

- name: OS user {{ minecraft_user }}
  ansible.builtin.user:
    name: "{{ minecraft_user }}"
    group: "{{ minecraft_group }}"
    system: true
    create_home: true
    home: "{{ minecraft_server_dir }}"
    shell: "/bin/nologin"
    state: present

- name: Build PaperMC server JAR file name
  ansible.builtin.set_fact:
    paper_mc_jar_name: "{{ 'paper-' ~ paper_mc_current ~ '-' ~ paper_mc_versions[paper_mc_current].build ~ '.jar' }}"

- name: Download PaperMC server JAR {{ paper_mc_jar_name }}
  ansible.builtin.get_url:
    url: "{{ paper_mc_base ~ '/' ~ paper_mc_versions[paper_mc_current].check ~ '/' ~ paper_mc_jar_name }}"
    dest: "{{ download_cache_path }}/{{ paper_mc_jar_name }}"
    owner: "{{ minecraft_user }}"
    group: "{{ minecraft_group }}"
    mode: "0644"
    checksum: "sha256:{{ paper_mc_versions[paper_mc_current].check }}"
    validate_certs: true

- name: Install PaperMC server JAR {{ paper_mc_jar_name }}
  ansible.posix.synchronize:
    src: "{{ download_cache_path }}/{{ paper_mc_jar_name }}"
    dest: "{{ minecraft_server_dir }}/server.jar"
    mode: push
    rsync_opts:
      - "--checksum"
  delegate_to: "{{ inventory_hostname }}"

- name: Set metadata on server.jar
  ansible.builtin.file:
    path: "{{ minecraft_server_dir }}/server.jar"
    owner: "{{ minecraft_user }}"
    group: "{{ minecraft_group }}"
    mode: "0755"

- name: Install {{ minecraft_propfile }}
  ansible.builtin.template:
    src: "{{ minecraft_propfile }}.j2"
    dest: "{{ minecraft_server_dir }}/{{ minecraft_propfile }}"
    owner: "{{ minecraft_user }}"
    group: "{{ minecraft_group }}"
    mode: "0644"

- name: Create EULA file
  ansible.builtin.copy:
    content: |
      #By changing the setting below to TRUE you are indicating your agreement to our EULA (https://aka.ms/MinecraftEULA).
      #Fri Jul 25 17:30:00 EDT 2025 # Adjust date as desired
      eula=true
    dest: "{{ minecraft_server_dir }}/eula.txt"
    owner: "{{ minecraft_user }}"
    group: "{{ minecraft_group }}"
    mode: "0644"
