[Unit]
Description=Minecraft Server
After=network.target

[Service]
User={{ minecraft_user }}
Group={{ minecraft_group }}
WorkingDirectory={{ minecraft_server_dir }}
ExecStart=/usr/bin/java -Xmx6144M -Xms6144M -jar {{ minecraft_server_dir }}/server.jar nogui
ExecStop=/bin/kill -SIGHUP $MAINPID
StandardInput=null
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

