[WEBCONSOLE]
ip_address=0.0.0.0
port={{ obsidiamc_port }}
admin_password={{ obsidiamc_admin_password }}
allow_internet_access=true # Set to false if only local access is desired
servers_directory={{ minecraft_servers_root }} # Parent directory of your individual server folders

[SETTINGS]
logging=true

